.container {
  $main_color: blue;

  border: 1px solid black;
  height: calc(200px+100px);

  .gnbList {
    display: flex;
    li {
      color: red;
      &:hover {
        background-color: black;
      }
    }
  }
}
